<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicateclass" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon_class"
        android:label="앗! 벌써\n수강신청?"
        android:roundIcon="@mipmap/appicon_class_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SelectGradeActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".DoctoroActivity"/>
        <activity android:name=".CompleteActivity"/>
        <activity android:name=".HowMuchActivity"/>
        <activity android:name=".RestDayActivity"/>
        <activity android:name=".SelectTimeSetActivity"/>

    </application>

</manifest>